<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <a class="footer__logo" href="#hero">
        <span class="footer__logo-symbol">&lt;</span>CV<span class="footer__logo-symbol">/&gt;</span>
      </a>
      <p class="footer__tagline">
        {{ 'footer.tagline' | t }}
      </p>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">&copy; {{ currentYear }}</p>
      <p class="footer__tech">
        {{ 'footer.made' | t }} <span class="footer__tech-hl">Angular</span> +
        <span class="footer__tech-hl">SCSS</span>
      </p>
    </div>
  </div>
</footer>
